* {
    font-family: Arial, Helvetica, sans-serif;

}

.container-hp.dark {
    color: rgb(220, 218, 218);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(40, 54, 69);
    min-height: calc(100vh - 120px);
}

.container-hp.dark h1 {
    margin: 3rem;
    font-size: 3.5rem;
}

.button-hp.dark {
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    width: 8rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #035fa5;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.button-hp.dark:hover {
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    background-color: #0572c6;
}

.buttons-container-hp.dark {
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.5);
    background: rgb(51, 69, 93);
    width: 450px;
    height: 200px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttons-container-hp.dark p {
    font-size: 1.5rem;
    font-weight: 700;
}

.buttons-hp.dark {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 549px) {
    .container-hp.dark h1 {
        margin: 3rem;
        font-size: 1.8rem;
    }

    .buttons-container-hp.dark {
        width: 350px;
        height: 200px;
    }
}

@media screen and (max-width: 380px) {
    .buttons-container-hp.dark {
        width: 300px;
        height: 200px;
    }
}

/*
    SVIJETLA TEMA
*/


.container-hp.light {
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    min-height: calc(100vh - 120px);
}

.container-hp.light h1 {
    margin: 3rem;
    font-size: 3.5rem;
    color: #2D9596;
}

.button-hp.light {
    width: 8rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #12bec1;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
}

.button-hp.light:hover {
    background-color: #15c7ca;
}

.buttons-container-hp.light {
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.5);
    background: #2D9596;
    width: 450px;
    height: 200px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttons-container-hp.light p {
    font-size: 1.5rem;
    font-weight: 700;
}

.buttons-hp.light {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 549px) {
    .container-hp.light h1 {
        margin: 3rem;
        font-size: 1.8rem;
    }

    .buttons-container-hp.light {
        width: 350px;
        height: 200px;
    }
}

@media screen and (max-width: 380px) {
    .buttons-container-hp.light {
        width: 300px;
        height: 200px;
    }
}