.body-container-info.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.9rem;
}

.info-container-info.dark {
    box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
    color: rgb(220, 218, 218);
    background: rgb(51, 69, 93);
    width: 1250px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.rules-container-info.dark {
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.rules-container-info.dark h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.rules-container-info.dark ul {
    font-size: 1.5rem;
}

.rules-container-info.dark ul li {
    margin-bottom: 15px;
}

.rights-container-info.dark {
    width: 90%;
    height: calc(55% / 2);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.rights-container-info.dark h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.rights-container-info.dark p {
    font-size: 1.5rem;
}

.rights-container-info.dark p a {
    font-weight: 700;
    vertical-align: top;
    color: rgb(220, 218, 218);
    transition: 0.3s ease;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.contact-container-info.dark {
    width: 90%;
    height: calc(55% / 2);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.contact-container-info.dark h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact-container-info.dark p {
    font-size: 1.5rem;
}

.contact-container-info.dark p a {
    font-weight: 700;
    vertical-align: top;
    color: rgb(220, 218, 218);
    transition: 0.3s ease;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

@media screen and (max-width: 1300px) {
    .info-container-info.dark {
        width: 1100px;
    }
}

@media screen and (max-width: 1130px) {
    .info-container-info.dark {
        width: 950px;
    }
}

@media screen and (max-width: 970px) {
    .info-container-info.dark {
        width: 800px;
    }
}

@media screen and (max-width: 820px) {
    .info-container-info.dark {
        width: 600px;
    }
}

@media screen and (max-width: 630px) {
    .info-container-info.dark {
        width: 450px;
    }

    .rules-container-info.dark h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .rules-container-info.dark ul {
        font-size: 1.3rem;
    }

    .rules-container-info.dark ul li {
        margin-bottom: 5px;
    }

    .rights-container-info.dark h2 {
        margin-top: 20px;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .rights-container-info.dark p {
        font-size: 1.3rem;
    }

    .contact-container-info.dark h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .contact-container-info.dark p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 470px) {
    .info-container-info.dark {
        width: 350px;
    }

    .rules-container-info.dark h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .rules-container-info.dark ul {
        font-size: 1.2rem;
    }

    .rules-container-info.dark ul li {
        margin-bottom: 5px;
    }

    .rights-container-info.dark h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .rights-container-info.dark p {
        font-size: 1.2rem;
    }

    .contact-container-info.dark h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .contact-container-info.dark p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 370px) {
    .info-container-info.dark {
        width: 300px;
    }

    .rules-container-info.dark h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .rules-container-info.dark ul {
        font-size: 1.1rem;
    }

    .rules-container-info.dark ul li {
        margin-bottom: 5px;
    }

    .rights-container-info.dark h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .rights-container-info.dark p {
        font-size: 1.1rem;
    }

    .contact-container-info.dark h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .contact-container-info.dark p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 320px) {
    .info-container-info.dark {
        width: 280px;
    }

    .rights-container-info.dark {
        margin-top: 20px;
    }
}

/*



SVIJETLA TEMA



*/

.body-container-info.light {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.9rem;
}

.info-container-info.light {
    box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
    color: white;
    background: #2D9596;
    width: 1250px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.rules-container-info.light {
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.rules-container-info.light h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.rules-container-info.light ul {
    font-size: 1.5rem;
}

.rules-container-info.light ul li {
    margin-bottom: 15px;
}

.rights-container-info.light {
    width: 90%;
    height: calc(55% / 2);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.rights-container-info.light h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.rights-container-info.light p {
    font-size: 1.5rem;
}

.rights-container-info.light p a {
    font-weight: 700;
    vertical-align: top;
    color: white;
    transition: 0.3s ease;

    &:hover {
        text-decoration: none;
    }
}

.contact-container-info.light {
    width: 90%;
    height: calc(55% / 2);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.contact-container-info.light h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact-container-info.light p {
    font-size: 1.5rem;
}

.contact-container-info.light p a {
    font-weight: 700;
    vertical-align: top;
    color: white;
    transition: 0.3s ease;

    &:hover {
        text-decoration: none;
    }
}

@media screen and (max-width: 1300px) {
    .info-container-info.light {
        width: 1100px;
    }
}

@media screen and (max-width: 1130px) {
    .info-container-info.light {
        width: 950px;
    }
}

@media screen and (max-width: 970px) {
    .info-container-info.light {
        width: 800px;
    }
}

@media screen and (max-width: 820px) {
    .info-container-info.light {
        width: 600px;
    }
}

@media screen and (max-width: 630px) {
    .info-container-info.light {
        width: 450px;
    }

    .rules-container-info.light h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .rules-container-info.light ul {
        font-size: 1.3rem;
    }

    .rules-container-info.light ul li {
        margin-bottom: 5px;
    }

    .rights-container-info.light h2 {
        margin-top: 20px;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .rights-container-info.light p {
        font-size: 1.3rem;
    }

    .contact-container-info.light h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .contact-container-info.light p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 470px) {
    .info-container-info.light {
        width: 350px;
    }

    .rules-container-info.light h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .rules-container-info.light ul {
        font-size: 1.2rem;
    }

    .rules-container-info.light ul li {
        margin-bottom: 5px;
    }

    .rights-container-info.light h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .rights-container-info.light p {
        font-size: 1.2rem;
    }

    .contact-container-info.light h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .contact-container-info.light p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 370px) {
    .info-container-info.light {
        width: 300px;
    }

    .rules-container-info.light h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .rules-container-info.light ul {
        font-size: 1.1rem;
    }

    .rules-container-info.light ul li {
        margin-bottom: 5px;
    }

    .rights-container-info.light h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .rights-container-info.light p {
        font-size: 1.1rem;
    }

    .contact-container-info.light h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .contact-container-info.light p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 320px) {
    .info-container-info.light {
        width: 280px;
    }

    .rights-container-info.light {
        margin-top: 20px;
    }
}